@import "../../assets/styles/mixins";
@import "../../assets/styles/variables";

.sectionProjects {
  padding: 70px 0 0;
  //min-height: 100vh;
  background-color: $bgColor;
  @media screen and (max-width: $secondResize) {
    padding: 30px 0;
  }

  .container {
    @include flexCenter();
    flex-direction: column;
    margin: 0 auto;

    .title {
      align-self: flex-start;
      margin: 0 0 35px 50px;
      @include text(24px, white, 600);
    }

    .projectsItems {
      display: -webkit-box; /* Not needed if autoprefixing */
      display: -ms-flexbox; /* Not needed if autoprefixing */
      display: flex;
      width: 100%;
      & .columns {
        padding: 0 50px;
        background-clip: padding-box;
        @media screen and (max-width: $firstResize){
          padding:  0 15px;
        }
        & div{
          padding-bottom: 100px;
          @media screen and (max-width: $firstResize){
            padding-bottom: 30px;
          }
        }
      }
    }
  }
}
