@import "../../common/style/sass/mixins";
@import "../../common/style/sass/variables";

.sectionProjects {
  padding: 140px 0 0;
  //min-height: 100vh;
  background-color: $bgColor;
  @media screen and (max-width: 600px) {
    padding: 30px 0;
  }

  .container {
    @include flexCenter();
    flex-direction: column;
    margin: 0 auto;

    .title {
      align-self: flex-start;
      margin: 0 0 35px 35px;
      @include text(24px, white, 600);
    }

    .projectsItems {
      width: 100%;
      @include flexCenter();
      flex-flow: row wrap;
    }
  }
}
