@import "../../common/style/sass/variables";
@import "../../common/style/sass/mixins";

.main {
  background-color: $bgColor;
  background-size: cover;
  background-position: 50% 50%;
  @media screen and (max-width: 1169px) {
    background-position: 80% 50%;
  }
  @media screen and (max-width: 803px) {
    background-position: 80% 50%;
  }
  height: 100vh;
  display: flex;
  justify-content: center;
  z-index: 11;

  .container {

    @media screen and (max-width: 900px) {
      justify-content: center;
      align-items: flex-end;
      padding-bottom: 10%;
    }
    .info {
      border: 1px solid white;

      .mainTitle {
        h1 {
          @include text(52px, white, 600, 1.15);
          @media screen and (max-height: 581px) {
            font-size: 40px;
          }
          @media screen and (max-width: 400px) {
            font-size: 32px;
            line-height: 1.25em;
          }

          span {
            color: $secondaryColor;
          }
        }
      }

    }

  }
}