@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.header {
  @include flexCenter();
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 20px 0 20px;

  &.withBackground {
    background-color: $bgColor;
    transition: ease-in-out 0.5s;
    @media screen and (max-width: $secondResize) {
      background: none;
    }
  }

  @media screen and (max-width: $secondResize) {
    padding-bottom: 20px;
    &.open {
      height: auto;
      background-color: $bgColor;
      transition: ease-in-out 0.3s;
    }
  }

  .container {
    display: block;
  }
}
