.footer {
    background-color: #f9ffe1;
}

.container {
    margin: 0 auto;
    flex-direction: column;
}

.name {
    background-color: #cea7a7;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    background-color: #eed7ba;
}

.links a {
    height: 40px;
    width: 40px;
    background-color: darkgrey;
}

.copyRights {
    background-color: #dac9ff;
}
