@import "../../../common/style/sass/mixins";
@import "../../../common/style/sass/variables";

.skillsItemCard {
  font-family: 'Roboto', sans-serif;
  max-width: 400px;
  width: 100%;
  min-height: 200px;
  @include flexCenter();
  flex-direction: column;
  margin-right: -1px;
  padding: 35px;
  font-size: 16px;
  background: #101010;
  border: 1px solid rgba(255, 255, 255, .07);

  .icon {
    width: 60px;
    height: 60px;
    @include flexCenter();
    @include text(24px, $secondaryColor);
  }

  .name {
    margin: 15px 0;
    @include text(16px, $lightGray, 500);
  }

  .text {
  }
}
