.skillsItemCard {
    border: 1px solid;
    background-color: #e9efff;
    max-width: 400px;
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.icon {
    width: 60px;
    height: 60px;
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    background-color: #cea7a7;
}

.text {
    font-size: 1.3rem;
    background-color: #eed7ba;
}